.card {
border-width: 1px 1px 2px 1px;
border-color: #e6e6e6;
border-style: solid;
background-color: #FAFAFA;
padding: 10px;
margin-bottom: 20px;
float: left;
width: 160px;
height: 220px;
margin: 10px 8px;
}

.card .description {
margin: 10px 0 2px;
padding: 0 0 10px;
font-size: 14px;
line-height: 18px;
height: 40px;
overflow: hidden;
text-align: center;
width: inherit;
}

.card .image {
background-color: #FFF;
/* width: 200px; */
/* height: 135px; */
text-align: center;
border: 1px solid #eaedef;
}
